spring:
  datasource:
    url: jdbc:mysql://localhost:3306/gestion_admin?zeroDateTimeBehavior=CONVERT_TO_NULL&serverTimezone=UTC
    username: root
    password: MizWiz1993-*
    # Keep the connection alive if idle for a long time (needed in production)
    tomcat:
      test-on-borrow: true
      validation-query: SELECT 1
      # ===============================
      # = JPA / HIBERNATE
      # ===============================
      # Show or not log for each sql query
  jpa:
    show-sql: true
    # Allows Hibernate to generate SQL optimized for a particular DBMS
    properties.hibernate.dialect: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      # Hibernate ddl auto (create, create-drop, update): with "update" the database
      # schema will be automatically updated accordingly to java entities found in
      # the project
      ddl-auto: validate
      # Naming strategy
      naming.physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
jwt:
  auth_login_url: /api/authenticate
  jwt_secret: n2r5u8x/A%D*G-KaPdSgVkYp3s6v9y$B&E(H+MbQeThWmZq4t7w!z%C*F-J@NcRf
  token_header: Authorization
  token_prefix: "Bearer "
  token_type: JWT
  token_issuer: api-gestion
  token_audience: api-gestion

mailgun:
    api: https://api.mailgun.net/v3
    endpoint: /messages
    authorisation:
      key: 01bcf492bfca6f901b0e24f63f96be97-9c988ee3-56cd8e32
    domain: /sandboxaaf39d440e8c42d486d0fe1d99c56624.mailgun.org
    connectTimeout: 3000
    socketTimeout: 10000

#angular:
#    url: http://localhost:8081/gestion-admin/app