<div class="row">
  <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
  <div class="col-lg-6">
    <div class="p-5">
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Forgot Your Password?</h1>
      </div>
      <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()" class="user">
        <!--Alert error or/success-->
        <div *ngIf="globalResponse" [class]="'alert alert-' + globalResponse.errorType">
          <strong>
            {{ globalResponse.error ? 'Error' : 'Success' }}
          </strong>
           - {{ globalResponse.message }}
        </div>
        <!--Input Password-->
        <div class="form-group">
          <label>New Password</label>
          <input type="password" class="form-control form-control-user" placeholder="Password" formControlName="password"
                   [ngClass]="{'is-invalid': changePasswordForm.get('password').invalid && changePasswordForm.get('password').touched}" required>
            <div *ngIf="changePasswordForm.get('password').invalid && changePasswordForm.get('password').touched" class="invalid-feedback">
              <div *ngIf="changePasswordForm.get('password').errors?.required">Password is required</div>
            </div>
          </div>

        <!--Input Confirm Password-->
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" class="form-control form-control-user" placeholder="Repeat Password" formControlName="confirmPassword"
                   [ngClass]="{'is-invalid': changePasswordForm.get('confirmPassword').invalid && changePasswordForm.get('confirmPassword').touched}" required>
            <div *ngIf="changePasswordForm.get('confirmPassword').invalid && changePasswordForm.get('confirmPassword').touched" class="invalid-feedback">
              <div *ngIf="changePasswordForm.get('confirmPassword').errors?.required">confirm Password is required</div>
              <div *ngIf="changePasswordForm.get('confirmPassword').errors?.mustMatch">Passwords must match</div>
            </div>
          </div>

        <button type="submit" [disabled]="changePasswordForm.invalid" class="btn btn-primary btn-user btn-block">
          Change Password
        </button>
        <hr>
        <div class="text-center">
          <a class="small" routerLink="/auth/register">Create an Account!</a>
        </div>
        <div class="text-center">
          <a class="small" routerLink="/auth/login">Already have an account? Login!</a>
        </div>
      </form>
    </div>
  </div>
</div>
