<!-- Nested Row within Card Body -->
<div class="row">
  <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
  <div class="col-lg-6">
    <div class="p-5">
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="signin()" class="user">
        <!--Input UserName-->
        <div class="form-group">
          <label>Username</label>

          <input type="email"  formControlName="username" required
                 [ngClass]="{'is-invalid': loginForm.get('username').invalid && loginForm.get('username').touched}"
                 class="form-control form-control-user" placeholder="Enter Email Address..."/>

          <div *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched" class="invalid-feedback">
            <div *ngIf="loginForm.get('username').errors?.required">Username is required</div>
            <div *ngIf="loginForm.get('username').errors?.email">Please enter a valid email address (ex:
              your-email@domaine.com)</div>
          </div>

        </div>
        <!--Input Password-->
        <div class="form-group">
          <label>Password</label>

          <input type="password"  formControlName="password" required
                 [ngClass]="{'is-invalid': loginForm.get('password').invalid && loginForm.get('password').touched}"
                 class="form-control form-control-user" placeholder="Password"/>

          <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched" class="invalid-feedback">
            <div *ngIf="loginForm.get('password').errors['required']">Password is required</div>
          </div>

        </div>
        <div class="form-group">
          <div class="custom-control custom-checkbox small">
            <input type="checkbox" class="custom-control-input" id="customCheck">
            <label class="custom-control-label" for="customCheck">Remember Me</label>
          </div>
        </div>
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-user btn-block">
          Login
        </button>
        <!--<a routerLink="/dashboard" class="btn btn-primary btn-user btn-block">-->
          <!--Login-->
        <!--</a>-->
        <hr>
        <div class="text-center">
          <a class="small" href="forgot-password.html">Forgot Password?</a>
        </div>
        <div class="text-center">
          <a class="small" href="register.html">Create an Account!</a>
        </div>
      </form>
    </div>
  </div>
</div>
