<div class="row">
  <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
  <div class="col-lg-6">
    <div class="p-5">
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Register</h1>
      </div>
      <form class="user" [formGroup]="registerForm" (ngSubmit)="register()">
        <!--Alert error or/success-->
        <div *ngIf="globalResponse" [class]="'alert alert-' + globalResponse.errorType">
          <strong>
            {{ globalResponse.error ? 'Error' : 'Success' }}
          </strong>
          - {{ globalResponse.message }}
        </div>
        <div class="form-group row">
          <!--Input First Name-->
          <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" placeholder="First Name" formControlName="firstName"
                   [ngClass]="{'is-invalid': registerForm.get('firstName').invalid && registerForm.get('firstName').touched}" required>
            <div *ngIf="registerForm.get('firstName').invalid && registerForm.get('firstName').touched" class="invalid-feedback">
              <div *ngIf="registerForm.get('firstName').errors?.required">First Name is required</div>
            </div>
          </div>
          <!--Input Last Name-->
          <div class="col-sm-6">
            <input type="text" class="form-control form-control-user" placeholder="Last Name" formControlName="lastName"
                   [ngClass]="{'is-invalid': registerForm.get('lastName').invalid && registerForm.get('lastName').touched}" required>
            <div *ngIf="registerForm.get('lastName').invalid && registerForm.get('lastName').touched" class="invalid-feedback">
              <div *ngIf="registerForm.get('lastName').errors?.required">Last Name is required</div>
            </div>
          </div>
        </div>
        <!--Input Phone-->
        <div class="form-group">
          <input type="text" class="form-control form-control-user" placeholder="+212 685923721" formControlName="phone"
                 [ngClass]="{'is-invalid': registerForm.get('phone').invalid && registerForm.get('phone').touched}" required>
          <div *ngIf="registerForm.get('phone').invalid && registerForm.get('phone').touched" class="invalid-feedback">
            <div *ngIf="registerForm.get('phone').errors?.required">Phone is required</div>
            <div *ngIf="registerForm.get('phone').errors?.minlength">Phone must be at least 10 characters</div>
          </div>
        </div>

        <!--Input Email-->
        <div class="form-group">
          <input type="email" class="form-control form-control-user" placeholder="Email Address" formControlName="email"
                 [ngClass]="{'is-invalid': registerForm.get('email').invalid && registerForm.get('email').touched}" required>
          <div *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched" class="invalid-feedback">
            <div *ngIf="registerForm.get('email').errors?.required">Email is required</div>
            <div *ngIf="registerForm.get('email').errors?.email">Please enter a valid email address (ex:
              your-email@domaine.com)</div>
          </div>
        </div>
        <!--Input Password-->
        <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="password" class="form-control form-control-user" placeholder="Password" formControlName="password"
                   [ngClass]="{'is-invalid': registerForm.get('password').invalid && registerForm.get('password').touched}" required>
            <div *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched" class="invalid-feedback">
              <div *ngIf="registerForm.get('password').errors?.required">Password is required</div>
            </div>
          </div>
          <div class="col-sm-6">
            <input type="password" class="form-control form-control-user" placeholder="Repeat Password" formControlName="confirmPassword"
                   [ngClass]="{'is-invalid': registerForm.get('confirmPassword').invalid && registerForm.get('confirmPassword').touched}" required>
            <div *ngIf="registerForm.get('confirmPassword').invalid && registerForm.get('confirmPassword').touched" class="invalid-feedback">
              <div *ngIf="registerForm.get('confirmPassword').errors?.required">confirm Password is required</div>
              <div *ngIf="registerForm.get('confirmPassword').errors?.mustMatch">Passwords must match</div>
            </div>
          </div>
        </div>
        <!--Button Register Form -->
        <button type="submit" class="btn btn-primary btn-user btn-block mt-3" [disabled]="registerForm.invalid">Register Account</button>
      </form>
    </div>
  </div>
</div>
