<div class="row">
  <div class="col">
    <h3 class="head text-center">Where do you live ?</h3>
    <br/>
    <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="country">Country</label>
            <input
              class="form-control"
              id="country"
              formControlName="country"
              type="text"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="city">City</label>
            <input
              class="form-control"
              id="city"
              formControlName="city"
              type="text"
            />
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="state">State </label> <input
            class="form-control"
            id="state"
            formControlName="state"
            type="text"
          />

          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="zipCode">Zip</label>
            <input
              class="form-control"
              id="zipCode"
              formControlName="zipCode"
              type="text"
            />
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="address">Address</label>
            <input
              class="form-control"
              id="address"
              formControlName="address"
              type="text"
            />
          </div>
        </div>
      </div>
      <hr>
      <button class="btn btn-primary btn-icon-split float-right" awNextStep>
        <span class="text">Next</span>
        <span class="icon">
                  <i class="fas fa-arrow-right"></i>
              </span>
      </button>
      <button class="btn btn-danger btn-icon-split float-right" awPreviousStep>
             <span class="icon">
              <i class="fas fa-arrow-left"></i>
            </span>
        <span class="text">Previous</span>
      </button>
    </form>
  </div>
</div>
